.is-current {
   opacity: 0.6;
   pointer-events: none;
}

body.is-loaded {
   opacity: 1;
}

/* ====== menu */

/*.inner {
  width: 100%;
}*/

.header {
  position: fixed;
  top: 3.5rem;
  left: 6rem;
  z-index: 100;
}

.header-inner,
.footer-inner {
  display: grid;
  align-items: center;
  justify-content: left;
  gap: 30px;
}

.header-logo-link,
.footer-logo-link,
.header-logo {
  font-family: var(--font-jp);
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}

.header-lead,
.footer-lead {
  font-family: var(--font-base);
  font-size: 0.8rem;
}

.header-date,
.footer-date {
  font-size: 1.2rem;
  opacity: 0.8;
}

.header-list,
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 40px;
  width: fit-content;
  writing-mode: vertical-rl;
}

.header-item,
.footer-item {
  position: relative;
}

.header-link,
.footer-link {
  font-size: 1rem;
  padding: 1rem;
}

.menu-small {
  margin-top: 80px;
  font-size: 1rem;
}

.menu-border {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 1px;
  height: 30px;
  background: var(--color-txt);
  content: "";
}


/* ========================================
  footer
======================================== */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.footer-list {
  justify-content: space-between;
  width: 100%;
}

.bottom-txt {
  font-family: var(--font-jp);
  font-size: 0.8rem;
  color: var(--color-txt);
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1;
  margin-top: 10rem;
}
